<% include ../partials/boilerplate %>

<div class='post'>
  <h1>Post <%= data.id %></h1>
  <h2><%= data.post_title %></h2>
  <h2><%= data.post_content%></h2>
  <h2><%= data.date_created%></h2>
<button>
  <a href="/forum/<%= data.id %>/edit"> Edit this post </a>
</button>
  <form action="/forum/<%= data.id %>?_method=Delete" method="Post">
    <input type="Submit" value="Delete"/>
  </form>
  <a href='/forum'>See all posts</a>
</div>

<% include ../partials/footer %>
